@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Light-gray);
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container {
    width: 300px;
    height: 450px;
    margin: 0 0 10px;
    background-color: var(--White);
    color: var(--Dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1)
}

.qr-code {
    margin: 10px auto 0;
    border-radius: 10px;
}

h3 {
    font-weight: 700;
    margin: 10px 0 0;
}

p {
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0 30px;
}

.attribution {
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
